@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  @apply text-6xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-2xl;
}

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: rgb(241, 94, 117) transparent rgb(255, 202, 25) transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.socialLogin {
  /*margin-top: 1rem;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialIconDiv {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  /*margin: 1rem;*/
  width: 3rem;
  height: 3rem;
  /*background-color: #ffffff;*/
  border-radius: 100%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);*/
}

.socialIconImg {
  width: 100%;
}

.pageHeader {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 100px;
  margin-top: 50px;
}

.categoryListings {
  padding: 0;
}

.swiperSlideDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logOut {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #00cc66;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}